.DS_Store
.gradle
.idea
*.iml
*.hprof
*.log
*.orig
*.jar
build/
out/
.DS_Store
.idea/.gitignore
.idea/kafka.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
target
**/WebContent/WEB-INF/classes/**
distilbert-base-uncased-fraud-classifer
fraud_output
.env
chroma_db