#docworkflow_nav_wrap {
  margin-top: 15px
}

#docworkflow_nav_wrap ul {
  list-style: none;
  position: relative;
  float: right;
  margin: 0;
  padding: 0
}

#docworkflow_nav_wrap ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#docworkflow_nav_wrap ul li {
  position: relative;
  float: right;
  margin: 0;
  padding: 0
}

#docworkflow_nav_wrap ul li.current-menu-item {
  background: #000099
}

#docworkflow_nav_wrap ul li:hover {
  background: #f6f6f6
}

#docworkflow_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0
}

#docworkflow_nav_wrap ul ul li {
  float: none;
  width: 200px
}

#docworkflow_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px
}

#docworkflow_nav_wrap ul ul ul {
  top: 0;
  left: 100%
}

#docworkflow_nav_wrap ul li:hover > ul {
  display: block
}

.documentlist_div_parent {
    width: 100%;
	height: 300px;
    border:solid 1px #999999;
}

.documentlist_table {
    width: 100%;
}