#docworkflow_nav_wrap {
  margin-top: 15px
}

#docworkflow_nav_wrap ul {
  list-style: none;
  position: relative;
  float: right;
  margin: 0;
  padding: 0
}

#docworkflow_nav_wrap ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
}

#docworkflow_nav_wrap ul li {
  position: relative;
  float: right;
  margin: 0;
  padding: 0
}

#docworkflow_nav_wrap ul li.current-menu-item {
  background: #000099
}

#docworkflow_nav_wrap ul li:hover {
  background: #f6f6f6
}

#docworkflow_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0
}

#docworkflow_nav_wrap ul ul li {
  float: none;
  width: 200px
}

#docworkflow_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px
}

#docworkflow_nav_wrap ul ul ul {
  top: 0;
  left: 100%
}

#docworkflow_nav_wrap ul li:hover > ul {
  display: block
}


.ContentContainer {
    width: 100%;
	height: 300px;
	background-color: #FAF6F1;
	border-top: solid 3px #513D33;
	border-left: 1px solid #331B0F; 
	border-right: 1px solid #331B0F; 
	border-bottom: 1px solid #331B0F;
	padding: 0px 10px 10px 10px;
	overflow-y: auto;
	height: 200px;
}

.ContentTable {
    width: 100%;
}

.ContentTable TD {
	padding-right: 5px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.ContentTable .statusImage {
	padding: 3px 2px 0px 2px;
	text-align: left;
	vertical-align: middle;
}

.ContentTable .RefreshLink{
	padding: 3px 0px 0px 0px;
	text-align: left;
	vertical-align: top;
}
.ContentTable .subHeading {
	height:18px;
	background-color:#DDC5A6;
	border-bottom:1px solid #FFFFFF;
}

.ContentContainer .TopazPortal_lookupFieldNames {
	font-weight: bold;
	text-align: left;
	background-color: #B7D1DF;
	height: 25px;
}

.ContentContainer .TopazPortal_blotterRowWH {
	text-align: left;
	background-color: #FFFFFF;
}

.ContentContainer .TopazPortal_blotterRowGR {
	text-align: left;
	background-color: #E8EAE8;
}