<div ng-include="'static/app/pages/common/banner.html'" style="padding:10px"></div>

  <!-- slide in menu (mobile only) -->
  
<div class="container bootcards-container" id="main" ng-init="ahc.inithome();" style="padding-top:40px">
    
			  <a class="btn btn-primary" href="#" ng-click="ahc.uploadDocs()" >
				<i class="glyphicon glyphicon-upload"></i> 
				<span>Bulk Upload Agreements</span>
			  </a><br><br>
			  <a class="btn btn-primary" href="rest/docadmin/dump">
				<i class="glyphicon glyphicon-save"></i> 
				<span>Export Agreement List</span>
			  </a><br><br>
			  <a class="btn btn-primary" href="#" ng-click="ahc.uploadDocs()" >
				<i class="glyphicon glyphicon-upload"></i> 
				<span>Bulk Upload User Roles</span>
			  </a><br><br>			  
			  <a class="btn btn-primary" href="#" ng-click="ahc.uploadErrorReasons()" >
				<i class="glyphicon glyphicon-upload"></i> 
				<span>Bulk Upload Error Types</span>
			  </a><br><br>			  
			  <a class="btn btn-primary" href="#" ng-click="ahc.uploadDocs()" >
				<i class="glyphicon glyphicon-upload"></i> 
				<span>Bulk Upload Agreement Status</span>
			  </a><br><br>
			  <a class="btn btn-primary" href="#" ng-click="ahc.uploadDocs()" >
				<i class="glyphicon glyphicon-record"></i> 
				<span>Update Agreements</span>
			  </a><br><br>

</div> <!-- end of main container -->