.tabs input[type=radio] {
    display: none;
    visibility: hidden;
}
       
.tabs {
    width: 650px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 65px auto;
}
       
.tabs li{
    float: left;
}
       
.tabs label {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    background: #2c3e50;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}
 
.tabs label:hover {
    background: #3498db;
}
       
.tab-content {
    z-index: 2;
    display: none;
    left: 0;
    width: 100%;
    font-size: 20px;
    line-height: 140%;
    padding: 15px;
    position: absolute;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-top: 10px solid #08C;
    background-color:#ffffff;
}

#tab-content1 {
  display: block;
}

[id^=tab]:checked + label {
    background: #08C;
    color: white;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}

.tabs button {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    background: #2c3e50;
    cursor: pointer;
    position: relative;
    text-decoration: none;
} 

.tabs button:focus {
    background: #3498db;
}

.tabs button:focus ~ div {
    display: block;
}

p#ascendiv {
  text-align: center;
  margin-top: 40px;
}
